<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<location path="APRMaintenance">
    <system.web>
      <authentication mode="Forms"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="WijmoTheme" value="aristo" />
    <add key="ApplicationAvailable" value="true" />
    <add key="key64" value="8P?5x1d9KIO" />
    <add key="AprKey" value="dfsfdafhthmktbv3245jhu65754" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ctxdevconnectionstring" connectionString="Data Source=CTXDEV;Initial Catalog=CTXSTCCORE;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="COREDemoConnectionString" connectionString="Data Source=ctxdev;Initial Catalog=COREDemo;User ID=sa; Password=textyler" providerName="System.Data.SqlClient" />
    <add name="ctxmangconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxManager;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCCOREconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCCORE;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxCARconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCCAR;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CrSTCconnectionstring" connectionString="Data Source=ctxdev;Initial Catalog=CrSTC;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTTconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCSTT;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCCDCconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCCDC;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCSKconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCSK;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCJordanconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCJordan;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCNDCconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCNDC;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCPCEconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCPCE;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCSPAconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCSPA;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCCARconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCCAR;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCSPTconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCSPT;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCCASconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCCAS;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCWDCconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCWDC;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCLinyiconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCLinyi;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCTDCconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCTDC;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="CtxSTCACDCconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCACDC;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    
    <add name="AprCARconnectionstring" connectionString="Data Source=ctxdev;Initial Catalog=AprCAR;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="AprSTTconnectionstring" connectionString="Data Source=ctxdev;Initial Catalog=AprSTT;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="AprSTT_TRNXstring" connectionString="Data Source=10.90.15.63;Initial Catalog=AprSTT;Persist Security Info=True;User ID=bnr;Password=cerf28?" providerName="System.Data.SqlClient" />
    <add name="AprManager_TRNXstring" connectionString="Data Source=10.90.15.63;Initial Catalog=AprManager_Test;Persist Security Info=True;User ID=bnr;Password=cerf28?" providerName="System.Data.SqlClient" />
    <add name="SpcSTCMAINconnectionstring" connectionString="Data Source=10.90.15.63;Initial Catalog=SpcMAIN; Persist Security Info=True;User ID=bnr;Password=cerf28?" providerName="System.Data.SqlClient" />
    <add name="Inspectionconnectionstring" connectionString="Data Source=10.90.15.63;Initial Catalog=Inspection_Test_92016; Persist Security Info=True;User ID=bnr;Password=cerf28?" providerName="System.Data.SqlClient" />
    <add name="applogconnectionstring" connectionString="Data Source=10.90.15.63;Initial Catalog=AprManager_Test; Persist Security Info=True;User ID=bnr;Password=cerf28?" providerName="System.Data.SqlClient" />
    <add name="CtxSTCITconnectionstring" connectionString="Data Source=10.5.4.10;Initial Catalog=CtxSTCaprit;Persist Security Info=True;User ID=sa;Password=textyler" providerName="System.Data.SqlClient" />
    <add name="SpcPDMconnectionstring" connectionString="Data Source=STCAPP01;Initial Catalog=WebPDM; Persist Security Info=True;User ID=sa;Password=webpdm" providerName="System.Data.SqlClient" />
    <add name="ErrorLog" connectionString="Data Source=10.90.15.63;Initial Catalog=ELMAH; User ID=Elmah;Password=aprlogging" providerName="System.Data.SqlClient" />
    <add name="AprManager_Entities" connectionString="metadata=res://*/App_Code.Manager.csdl|res://*/App_Code.Manager.ssdl|res://*/App_Code.Manager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.90.15.63;initial catalog=AprManager_Test;persist security info=True;user id=bnr;password=cerf28?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Inspection_Entities" connectionString="metadata=res://*/App_Code.Inspection.csdl|res://*/App_Code.Inspection.ssdl|res://*/App_Code.Inspection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.90.15.63;initial catalog=Inspection_Test_92016;persist security info=True;user id=bnr;password=cerf28?;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxQueryStringLength="2097151" maxRequestLength="1048576" requestValidationMode="2.0" />
    
    <sessionState timeout="30000" />
    <!--<httpModules>
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule"/>
    </httpModules>-->
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <codeSubDirectories>
        <!--<add directoryName="CSCode" />-->
        <add directoryName="VBCode" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".AUTH" loginUrl="~/Login.aspx" timeout="2880" protection="All" domain="standardtextile.com" path="/aprauth" enableCrossAppRedirects="true" requireSSL="false" slidingExpiration="true"/>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"
                decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" 
                validation="SHA1"
                decryption="AES"
                />
    <authorization>
      <deny users="?" />
      <!--<allow users="*"/>-->
    </authorization>
    
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--<pages enableViewStateMac="true" enableEventValidation="false" viewStateEncryptionMode="Never"></pages>-->
    <httpHandlers>
      <!--<add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />-->
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <!--<dotless minifyCss="false" cache="true" web="false"/>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Web.Wijmo.Controls.4" publicKeyToken="9b75583953471eea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20141.160" newVersion="4.0.20141.160" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.C1Report.4" publicKeyToken="594a0605db190bb9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.20141.54717" newVersion="4.6.20141.54717" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="80000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ErrorLog" />
    <security allowRemoteAccess="1" />
  </elmah>
  <location path="APRMaintenance" allowOverride="true">
    <system.web>
      <authentication mode="Forms">
       <forms name=".AUTH" loginUrl="~/Login.aspx" timeout="2880" protection="All" domain="standardtextile.com" path="/aprauth" />
      </authentication>
      <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
      <authorization>
        <allow roles="Domain Users" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="elmah.axd" inheritInChildApplications="true">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <authorization>
        <allow roles="Domain Users" />
        <deny users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>